# Import Library

In [1]:
import numpy as np
import pandas as pd  
import time
import warnings
import polars as pl
import re
warnings.filterwarnings('ignore')
pd.set_option('display.max_columns', None)

# Import CSV file

In [2]:
path = 'raw.csv'
raw_df = pd.read_csv(path)

In [3]:
raw_df

,rowID,cid,class,visitDateTime,hospCode,diagText,diagnoses,admission,labResults,patientDOB,patientSexName,patientAddress,drugs,billingItems,xrays,patientAge,icd10_list,diagType_1,diagType_2,diagType_3,diagType_4,diagType_5,address_houseNumber,address_moopart,address_road,address_tmbpart,address_amppart,address_chwpart,address_addressPart,address_country,vital_bpd,vital_bps,vital_bw,vital_cc,vital_hr,vital_pe,vital_pulse,vital_temperature,vital_rr,vital_height,vital_fbs,vital_bmi,vital_waist,vital_o2sat,vital_prePainScore,vital_postPainScore,vital_peGa,vital_peHeent,vital_peHeart,vital_peLung,vital_peAb,vital_peExt,vital_peNeuro,vital_peGaText,vital_peHeentText,vital_peHeartText,vital_peLungText,vital_peAbText,vital_peNeuroText,vital_peExtText,vital_hpi,vital_pmh,vital_fh,vital_sh,vital_ros,exercise,alcohol,smoking,narcotic
0,2946013,b229579fa0cfbf08dc9cc3b6348c9aa3f49ff05ef354a1...,AMB,2021-01-14 08:59:46,10685,NaN,"[{""icd10"":""K36"",""icd10Name"":""Other appendiciti...",NaN,[],1979-01-01 00:00:00 UTC,0,"[{""houseNumber"":""ห้องเช่า"",""moopart"":""0"",""road...","[{""qty"":""20"",""drugNondugName"":""AMOXICILLIN+CLA...","[{""billingStatus"":""PROCESSING"",""hospCode"":""106...",[],42,['K36'],['K36'],NaN,NaN,NaN,NaN,ห้องเช่า,0,สุขุมวิท,2,1,11,ต.สำโรงเหนือ อ.เมืองสมุทรปราการ จ.สมุทรปราการ,ประเทศไทย,86.0,134.0,71.5,มาตามนัด ปวดท้องบางครั้ง ทานได้ ถ่ายปกติ \r...,72.0,NaN,72.0,36.0,22.0,0.0,0.0,0.000,0.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3501338,b2dc4043ef9c533471864ccc599d446a6e36ee39a190ba...,AMB,2021-04-07 19:13:37,10685,NaN,"[{""icd10"":""K352"",""icd10Name"":""Acute appendicit...",NaN,[],1978-05-06 00:00:00 UTC,0,"[{""houseNumber"":""แคลมป์ก่อสร้างสถานีรถไฟฟ้าสาย...",[],"[{""billingStatus"":""PROCESSING"",""hospCode"":""106...",[],42,['K352'],['K352'],NaN,NaN,NaN,NaN,แคลมป์ก่อสร้างสถานีรถไฟฟ้าสายสีเหลือง,0,ศรีนครินทร์ ซ.ศรีด่าน 13,2,1,11,ต.สำโรงเหนือ อ.เมืองสมุทรปราการ จ.สมุทรปราการ,ประเทศไทย,74.0,113.0,67.9,มาตรวจซ้ำ กลับบ้านไป ปวดท้องข้างขวามาก อาเจี...,NaN,NaN,96.0,36.1,20.0,0.0,0.0,0.000,0.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1642704,46b1e31e7244630d54b24ffc05fabce15dd584efb7176a...,AMB,2020-06-26 06:24:06,10685,NaN,"[{""icd10"":""K352"",""icd10Name"":""Acute appendicit...",NaN,[],1986-01-01 00:00:00 UTC,0,"[{""houseNumber"":""1573"",""moopart"":""7"",""road"":""เ...",[],"[{""billingStatus"":""PROCESSING"",""hospCode"":""106...","[{""_id"":""5ef54ff25689d5df08b33b51"",""bid"":""1068...",34,['K352'],['K352'],NaN,NaN,NaN,NaN,1573,7,เทพารักษ์,15,1,11,ต.เทพารักษ์ อ.เมืองสมุทรปราการ จ.สมุทรปราการ,ประเทศไทย,88.0,132.0,0.0,แจ้งว่า ปวดท้อง อาเจียน 5ครั้ง ไม่มีถ่ายเหลว เ...,NaN,NaN,82.0,37.2,20.0,0.0,0.0,0.000,0.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ปวดท้องมาก ตีสาม นอนไมได้ ทุรนทุราย\r\nอาเจียน...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4742246,b8964d1a32cee6db0db63fc0f2e889e4af3a539b96522f...,AMB,2021-09-26 16:27:07,10685,NaN,"[{""icd10"":""K352"",""icd10Name"":""Acute appendicit...",NaN,[],2015-04-20 00:00:00 UTC,1,"[{""houseNumber"":""199/54"",""moopart"":""11"",""road""...",[],"[{""billingStatus"":""PROCESSING"",""hospCode"":""106...",[],6,['K352'],['K352'],NaN,NaN,NaN,NaN,199/54,11,เทพารักษ์ ซ.กู้พารา 1,1,3,11,ต.บางพลีใหญ่ อ.บางพลี จ.สมุทรปราการ,ประเทศไทย,61.0,80.0,28.1,16.35 น. ผู้ป่วยเดินมาเองมารดานำส่งแจ้งว่าผู้ป...,NaN,NaN,144.0,39.0,20.0,126.0,0.0,17.700,0.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"มาด้วยไข้ปวดท้อง 1 วัน , ปวดท้องขวาล่างใต้สะดื...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2820769,d69c8df8a8ceb249bb7b4af12b174c940b6a42cfc967a8...,AMB,2020-12-25 08:12:19,10685,NaN,"[{""icd10"":""K352"",""icd10Name"":""Acute appendicit...",NaN,[],1969-03-15 00:00:00 UTC,0,"[{""houseNumber"":""4/33"",""moopart"":""14"",""road"":""...","[{""qty"":""20"",""drugNondugName"":""AMOXICILLIN+CLA...","[{""billingStatus"":""PROCESSING"",""hospCode"":""106...",[],51,['K352'],['K352'],NaN,NaN,NaN,NaN,4/33,14,บางนา-ตราด,1,3,11,ต.บางพลีใหญ่ อ.บางพลี จ.สมุทรปราการ,ประเทศไทย,81.0,147.0,49.1,มาตรวจตามนัด แผลที่หน้าท้อง แผลแห้งดี ปวด ...,107.0,PE :แผลแห้ง กินได้ ไม่ปวดท้อง Explore with ap...,107.0,36.6,22.0,0.0,0.0,0.000,0.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13 ธค 2563 Ruptured appendicitis S/P explor...,NaN,NaN,NaN,NaN,No,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1431,2146005,1d60209df9b0437f25613530f9414481912d14c3de4607...,AMB,2020-09-26 18:24:01,10753,NaN,"[{""icd10"":""K37"",""icd10Name"":""Unspecified appen...",NaN,"[{""labHeadData"":{""labOrderNumber"":""2831619"",""f...",1974-10-15 00:00:00 UTC,1,"[{""houseNumber"":""บ้านเช่า"",""moopart"":""0"",""road...",[],"[{""billingStatus"":""PROCESSING"",""hospCode"":""107...",[],45,['K37'],['K37'],NaN,NaN,NaN,NaN,บ้านเช่า,0,บางนา-ตราด ซ.วัดศรีวารีน้อย,4,3,11,ต.บางโฉลง อ.บางพลี จ.สมุทรปราการ,ประเทศไทย,78.0,118.0,62.0,1 วันก่อนมา รพ. ปวดท้อง,NaN,1 วัน ปวดท้องขวาล่าง ไม่มีปวดที่อื่นมาก่อน คล...,68.0,36.9,20.0,0.0,0.0,0.000,0.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.19 น. ผู้ป่วยเดินมา/ผู้ป่วยให้ประวัติว่า 1 ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1432,3873437,bafa3aa41b99714d9a92bf444a1771c3116540cab1d238...,AMB,2021-06-09 18:08:02,10753,NaN,"[{""icd10"":""K37"",""icd10Name"":""Unspecified appen...",NaN,"[{""labHeadData"":{""labOrderNumber"":""3011617"",""f...",1989-09-06 00:00:00 UTC,0,"[{""houseNumber"":""230/111"",""moopart"":""12"",""road...",[],"[{""billingStatus"":""PROCESSING"",""hospCode"":""107...","[{""_id"":""61a1fc0b1c6628ceae15de1b"",""bid"":""1075...",31,"['K37', 'Z532']",['K37'],['Z532'],NaN,NaN,NaN,230/111,12,NaN,1,3,11,ต.บางพลีใหญ่ อ.บางพลี จ.สมุทรปราการ,ประเทศไทย,50.0,112.0,57.0,18.16น.ผู้ป่วยรถนั่ง มากับญาติ / มาจาก ER ส่ง...,NaN,หญิงสิทธิ ชำระเงินเอง\r\nปวดท้องด้านขวาร้าวไปส...,78.0,36.5,20.0,0.0,0.0,0.000,0.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No,No,NaN
1433,1466704,0d62ccf972e7c7562ebedc8014f7c76c00cbe9908869be...,AMB,2020-05-26 12:42:39,10755,NaN,"[{""icd10"":""K37"",""icd10Name"":""Unspecified appen...",NaN,"[{""labHeadData"":{""labOrderNumber"":""6323303"",""f...",2000-08-07 00:00:00 UTC,0,"[{""houseNumber"":""73/2"",""moopart"":""3"",""road"":""""...",[],"[{""billingStatus"":""PROCESSING"",""hospCode"":""107...",[],19,['K37'],['K37'],NaN,NaN,NaN,NaN,73/2,3,NaN,3,5,11,ต.แหลมฟ้าผ่า อ.พระสมุทรเจดีย์ จ.สมุทรปราการ,ประเทศไทย,62.0,121.0,55.0,"6ชม.ก่อนมารพ.ปวดท้องทั่วๆ , 3ชม.ย้ายมาปวดขวา ,...",NaN,NaN,83.0,36.5,20.0,156.0,0.0,22.600,74.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3 ชม ก่อนมามีอาการปวดท้อง มีคลื้นไส้อาเจียน 2 ...,ปฏิเสธโรคประจำตัว / ปฏิเสธการแพ้ยา /LMP 03/09/...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1434,3498585,e168b61a4a8f370c7880ec302153ad463196d5cef2f1b2...,AMB,2021-04-07 22:39:35,10755,NaN,"[{""icd10"":""K353"",""icd10Name"":""Acute appendicit...",NaN,[],1996-07-24 00:00:00 UTC,1,"[{""houseNumber"":""605/28"",""moopart"":""2"",""road"":...",[],"[{""billingStatus"":""PROCESSING"",""hospCode"":""107...",[],24,['K353'],['K353'],NaN,NaN,NaN,NaN,605/28,2,ประชาอุทิศ 90,2,5,11,ต.บ้านคลองสวน อ.พระสมุทรเจดีย์ จ.สมุทรปราการ,ประเทศไทย,83.0,137.0,97.0,ปวดท้องข้างขวา มีไข้ เวียนศีรษะ เป็นก่อนมารพ 6...,NaN,sat 97%\r\nAlvaradoscore 8 คะแนน DDx -acute a...,120.0,39.3,20.0,0.0,0.0,0.000,0.0,NaN,0.0,0.0,NaN,N,N,N,N,N,N,GA-good councious not pale no jaundice,Eye- not pale no jaundice,Heart- HR regular with tachycardia,"Lung - Clear breath sound, Rt=Lt",Abd-- mark tender at RLQ with guarding and r...,Neuro --GCS = 15 E =4 V=5 M=6,ext-normal motor power no weakness all part,6 ชมก่อนมารพ ปวดท้องด้านขวาปวดจี๊ดๆ เวียนศีรษ...,ปฏิเสธประวัติการเจ็บป่วยในอดีต,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1435,1845430,15485864aca2d753ef1e4f1db274ea670e9e317d8f9a63...,AMB,2020-08-05 06:25:10,10755,NaN,"[{""icd10"":""9918"",""icd10Name"":""Injection or inf...",NaN,"[{""labHeadData"":{""labOrderNumber"":""6332045"",""f...",1999-09-30 00:00:00 UTC,1,"[{""houseNumber"":""121/107"",""moopart"":""5"",""road""...","[{""qty"":""1"",""drugNondugName"":""Omeprazole(Mepra...","[{""billingStatus"":""PROCESSING"",""hospCode"":""107...",[],20,"['9918', '9929', 'K37']",['K37'],"['9918', '9929']",NaN,NaN,NaN,121/107,5,NaN,3,5,11,ต.แหลมฟ้าผ่า อ.พระสมุทรเจดีย์ จ.สมุทรปราการ,ประเทศไทย,88.0,139.0,60.0,ปวดท้อง 7 ชมก่อนมา รพ,NaN,Alvarado score 9\r\nIMP : Acute appendicitis \...,80.0,36.6,20.0,171.0,0.0,20.519,76.0,NaN,0.0,0.0,NaN,N,N,N,N,N,N,NaN,NaN,NaN,NaN,RLQ tenderness with rebound,NaN,NaN,23.00น เมื่อวานปวดท้องเหนือสะดือ คืล่นไส้ อาเจ...,ปฏิเสธโรคประจำตัว,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Import ExtractLabResult Class

In [4]:
import os
from config.Extract_LabResults import ExtractLabResult

In [5]:
xlr = ExtractLabResult()

# Data Extraction

In [6]:
%%time
lab_df = xlr.execution(raw_df)

labItemsNameRef     labItemsNormalValueRef
Urine pH            5.0 - 8.0                 146
Urine WBC           0 - 5                     138
Other                                         138
Urine RBC           0 - 5                     138
Urine Glucose       Negative                  127
Urine Ketone        Negative                  125
Urine Bilirubin     Negative                  125
Urine Urobilinogen  Negative                  122
Urine Albumin                                 115
Urine Ketone                                  113
Urine Color                                   113
Urine Sugar                                   113
Urine RBC                                     113
Bacteria                                      113
Basophil            0 - 1                     103
WBC                 4.00 - 10.00               97
Basophil            0 - 3                      85
Abnormal WBC                                   83
RBC Morphology                                 83
Urine Appearance    Clear                      82
RDW                 0.00 - 0.00                79
PLT Smear           0.00 - 0.00                79
ALY%                0 - 1                      79
Urine Color         Yellow                     79
MCV                 80.00 - 100.00             79
Urine Protein       Negative                   76
WBC                 0-5                        75
RBC                 0-5                        75
Sp.gr               1.003-1.030                75
Urine Leukocytes    Negative                   74
Urine RBC           Negative                   74
Urine Nitrite       Negative                   74
Urine Sugar         1.003-1.030                73
Neutrophil          60 - 75                    72
Eosinophil          2 - 8                      72
WBC                 5.0 - 10.0                 72
Urine Sp.gr         1.003 - 1.035              72
Other RBC morpho                               72
Urine Amorphous     not found                  72
Urine Character                                72
Epithelial cell     0 - 5                      72
Urine Nitrite                                  72
Urine Leukocytes                               72
Monocytes           2 - 8                      72
RDW                 10.0 - 16.5                72
Urine Bilirubin                                72
PLT                 140 - 400                  72
Lymphocytes         25 - 40                    72
MCH                 28.0 - 32.0                72
MCV                 85.0 - 95.0                72
dtype: int64
CPU times: total: 4.5 s
Wall time: 4.56 s

In [7]:
lab_df

,rowID,cid,visitDateTime,labHeadData,departmentName,spcltyName,labItemCode,labItemsNameRef,labOrderResult,labItemsNormalValueRef,labItemsUnit
0,2946013,b229579fa0cfbf08dc9cc3b6348c9aa3f49ff05ef354a1...,2021-01-14 08:59:46,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3501338,b2dc4043ef9c533471864ccc599d446a6e36ee39a190ba...,2021-04-07 19:13:37,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1642704,46b1e31e7244630d54b24ffc05fabce15dd584efb7176a...,2020-06-26 06:24:06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4742246,b8964d1a32cee6db0db63fc0f2e889e4af3a539b96522f...,2021-09-26 16:27:07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2820769,d69c8df8a8ceb249bb7b4af12b174c940b6a42cfc967a8...,2020-12-25 08:12:19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
13613,1845430,15485864aca2d753ef1e4f1db274ea670e9e317d8f9a63...,2020-08-05 06:25:10,0,ห้อง Emergency Room (ER),ศัลยกรรม,591,Urine Leukocytes,Negative,,Test
13614,1845430,15485864aca2d753ef1e4f1db274ea670e9e317d8f9a63...,2020-08-05 06:25:10,0,ห้อง Emergency Room (ER),ศัลยกรรม,592,Urine Character,Clear,,
13615,1845430,15485864aca2d753ef1e4f1db274ea670e9e317d8f9a63...,2020-08-05 06:25:10,0,ห้อง Emergency Room (ER),ศัลยกรรม,610,RDW,12.9,10.0 - 16.5,%
13616,1845430,15485864aca2d753ef1e4f1db274ea670e9e317d8f9a63...,2020-08-05 06:25:10,0,ห้อง Emergency Room (ER),ศัลยกรรม,932,Urine Albumin,Trace,,
13617,1845430,15485864aca2d753ef1e4f1db274ea670e9e317d8f9a63...,2020-08-05 06:25:10,0,ห้อง Emergency Room (ER),ศัลยกรรม,1051,Hb,14.5,13.0 - 17.0,g/dL

# Data Observation

## Search "labItemsNameRef"
Obj: Seeking require labResults

In [8]:
search = 'C'
lab_df[['labItemsNameRef']].loc[lab_df['labItemsNameRef'].str.contains('^{}'.format(search), case=False, na=False,regex = True)].value_counts()

labItemsNameRef
Creatinine         171
CO2                152
Chloride           138
Crystal             97
Cast                89
Color               82
Cl                  13
CEA                  4
Ct ORF1ab            4
Calcium              2
Conj. Bilirubin      1
Cre_M>0.9            1
dtype: int64

## Top 50 labResults

In [9]:
lab_df['labItemsNameRef'].value_counts()[:50]

RBC                     488
WBC                     407
Urine RBC               378
HCT                     301
MCV                     300
MCH                     300
PLT                     300
Urine Ketone            264
MCHC                    228
Urine Bilirubin         223
Neutrophil              221
Lymphocytes             220
Eosinophil              220
Basophil                220
Monocytes               220
PLT Smear               205
RDW                     203
Bacteria                202
Urine Color             201
Urine pH                201
Urine WBC               189
Urine Sugar             189
Creatinine              171
Urine Albumin           170
BUN                     168
Hb                      165
Abnormal WBC            154
Urine Glucose           153
CO2                     152
Potassium               151
Sodium                  151
Urine Urobilinogen      151
Urine Nitrite           148
Urine Leukocytes        148
Other                   145
Chloride                138
Leukocytes              135
Nitrite                 135
HGB                     133
Appearance              117
Sp.gr                   116
Epithelial cell         113
RBC Morphology          110
Amorphous               106
NRBC                    106
eGFR                     97
Urine Mucus              97
Crystal                  97
Atypical Lymphocytes     95
Cast                     89
Name: labItemsNameRef, dtype: int64

## Data Check-up

In [10]:
lab_df

,rowID,cid,visitDateTime,labHeadData,departmentName,spcltyName,labItemCode,labItemsNameRef,labOrderResult,labItemsNormalValueRef,labItemsUnit
0,2946013,b229579fa0cfbf08dc9cc3b6348c9aa3f49ff05ef354a1...,2021-01-14 08:59:46,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3501338,b2dc4043ef9c533471864ccc599d446a6e36ee39a190ba...,2021-04-07 19:13:37,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1642704,46b1e31e7244630d54b24ffc05fabce15dd584efb7176a...,2020-06-26 06:24:06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4742246,b8964d1a32cee6db0db63fc0f2e889e4af3a539b96522f...,2021-09-26 16:27:07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2820769,d69c8df8a8ceb249bb7b4af12b174c940b6a42cfc967a8...,2020-12-25 08:12:19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
13613,1845430,15485864aca2d753ef1e4f1db274ea670e9e317d8f9a63...,2020-08-05 06:25:10,0,ห้อง Emergency Room (ER),ศัลยกรรม,591,Urine Leukocytes,Negative,,Test
13614,1845430,15485864aca2d753ef1e4f1db274ea670e9e317d8f9a63...,2020-08-05 06:25:10,0,ห้อง Emergency Room (ER),ศัลยกรรม,592,Urine Character,Clear,,
13615,1845430,15485864aca2d753ef1e4f1db274ea670e9e317d8f9a63...,2020-08-05 06:25:10,0,ห้อง Emergency Room (ER),ศัลยกรรม,610,RDW,12.9,10.0 - 16.5,%
13616,1845430,15485864aca2d753ef1e4f1db274ea670e9e317d8f9a63...,2020-08-05 06:25:10,0,ห้อง Emergency Room (ER),ศัลยกรรม,932,Urine Albumin,Trace,,
13617,1845430,15485864aca2d753ef1e4f1db274ea670e9e317d8f9a63...,2020-08-05 06:25:10,0,ห้อง Emergency Room (ER),ศัลยกรรม,1051,Hb,14.5,13.0 - 17.0,g/dL

In [11]:
lab_df.columns

Index(['rowID', 'cid', 'visitDateTime', 'labHeadData', 'departmentName',
       'spcltyName', 'labItemCode', 'labItemsNameRef', 'labOrderResult',
       'labItemsNormalValueRef', 'labItemsUnit'],
      dtype='object')

In [12]:
lab_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13618 entries, 0 to 13617
Data columns (total 11 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   rowID                   13618 non-null  int64
 1   cid                     13618 non-null  object
 2   visitDateTime           13618 non-null  object
 3   labHeadData             12517 non-null  object
 4   departmentName          12517 non-null  object
 5   spcltyName              12517 non-null  object
 6   labItemCode             12517 non-null  object
 7   labItemsNameRef         12517 non-null  object
 8   labOrderResult          12517 non-null  object
 9   labItemsNormalValueRef  12517 non-null  object
 10  labItemsUnit            12517 non-null  object
dtypes: int64(1), object(10)
memory usage: 1.2+ MB

In [13]:
lab_df.shape

(13618, 11)

### Missing Value

In [14]:
lab_df.isna().sum()

rowID                        0
cid                          0
visitDateTime                0
labHeadData               1101
departmentName            1101
spcltyName                1101
labItemCode               1101
labItemsNameRef           1101
labOrderResult            1101
labItemsNormalValueRef    1101
labItemsUnit              1101
dtype: int64

In [15]:
# Percent Missing value
(lab_df.isna().sum()/lab_df.shape[0]*100).round(2)

rowID                     0.00
cid                       0.00
visitDateTime             0.00
labHeadData               8.08
departmentName            8.08
spcltyName                8.08
labItemCode               8.08
labItemsNameRef           8.08
labOrderResult            8.08
labItemsNormalValueRef    8.08
labItemsUnit              8.08
dtype: float64

### Duplication

In [16]:
lab_df.duplicated().sum()

0

# Select Features
- Demographic
    - [x]  Age, years
    - [x]  Sex
    - [x]  Height, cm
    - [x]  Weight, kg
    - [x]  Body mass index (BMI), kg/m2
- Appendicitis Scores 
    - [ ]  Alvarado score (AS)
    - [ ]  Pediatric appendicitis score (PAS)
- Clinical
    - [x]  Peritonitis/abdominal guarding                                   
    - [ ]  Migration of pain
    - [ ]  Tenderness in right lower quadrant (RLQ)
    - [ ]  Rebound tenderness
    - [ ]  Cough tenderness
    - [ ]  Psoas sign
    - [ ]  Nausea/vomiting
    - [ ]  Anorexia
    - [x]  Body temperature, °C
    - [ ]  Dysuria
    - [ ]  Stool
- Laboratory (from routine blood samples in case of suspected appendicitis)**
    - [x]  White blood cell count (WBC), 103/µl
    - [x]  Neutrophils, %
    - [x]  C-reactive protein (CRP), mg/l
    - [x]  Ketones in urine
    - [x]  Erythrocytes in urine
    - [x]  White blood cells in urine
    
- Abdominal Ultrasound
    - [ ]  Visibility of appendix
    - [ ]  Appendix diameter, mm
    - [ ]  Free intraperitoneal fluid
    - [ ]  Appendix layer structure
    - [ ]  Target sign
    - [ ]  Appendix perfusion
    - [ ]  Surrounding tissue reaction
    - [ ]  Pathological lymph nodes

In [17]:
lab_df['labItemsNameRef'].value_counts()[:50]

RBC                     488
WBC                     407
Urine RBC               378
HCT                     301
MCV                     300
MCH                     300
PLT                     300
Urine Ketone            264
MCHC                    228
Urine Bilirubin         223
Neutrophil              221
Lymphocytes             220
Eosinophil              220
Basophil                220
Monocytes               220
PLT Smear               205
RDW                     203
Bacteria                202
Urine Color             201
Urine pH                201
Urine WBC               189
Urine Sugar             189
Creatinine              171
Urine Albumin           170
BUN                     168
Hb                      165
Abnormal WBC            154
Urine Glucose           153
CO2                     152
Potassium               151
Sodium                  151
Urine Urobilinogen      151
Urine Nitrite           148
Urine Leukocytes        148
Other                   145
Chloride                138
Leukocytes              135
Nitrite                 135
HGB                     133
Appearance              117
Sp.gr                   116
Epithelial cell         113
RBC Morphology          110
Amorphous               106
NRBC                    106
eGFR                     97
Urine Mucus              97
Crystal                  97
Atypical Lymphocytes     95
Cast                     89
Name: labItemsNameRef, dtype: int64

In [18]:
selected_lab = ["RBC","WBC","Urine RBC","HCT","MCV","MCH","PLT","Urine Ketone","MCHC","Urine Bilirubin","Neutrophil","Lymphocytes","Bacteria","Urine Color","Urine pH","Urine WBC","Urine Sugar","Creatinine","Urine Albumin","BUN","Hb""Urine Leukocytes","Leukocytes"]

selected_lab_df = lab_df.loc[lab_df["labItemsNameRef"].isin(selected_lab)]
selected_lab_df.shape

(5256, 11)

In [19]:
len(selected_lab)

22

In [20]:
selected_lab_df

,rowID,cid,visitDateTime,labHeadData,departmentName,spcltyName,labItemCode,labItemsNameRef,labOrderResult,labItemsNormalValueRef,labItemsUnit
6,601443,a4d3ae6322bcc001916821c27ea51fc0983e232f8bf6f7...,2019-12-30 00:10:41,0,หอผู้ป่วยกุมารเวชกรรม,ศัลยกรรมทั่วไป,93,HCT,36.4,34.0 - 50.0,%
7,601443,a4d3ae6322bcc001916821c27ea51fc0983e232f8bf6f7...,2019-12-30 00:10:41,0,หอผู้ป่วยกุมารเวชกรรม,ศัลยกรรมทั่วไป,95,WBC,20.0,4.0 - 11.0,x 10 *3 /ul
8,601443,a4d3ae6322bcc001916821c27ea51fc0983e232f8bf6f7...,2019-12-30 00:10:41,0,หอผู้ป่วยกุมารเวชกรรม,ศัลยกรรมทั่วไป,97,RBC,4.62,3.60 - 6.20,x 10 *6 /ul
10,601443,a4d3ae6322bcc001916821c27ea51fc0983e232f8bf6f7...,2019-12-30 00:10:41,0,หอผู้ป่วยกุมารเวชกรรม,ศัลยกรรมทั่วไป,99,PLT,479,140 - 450,x 10 *3 /ul
11,601443,a4d3ae6322bcc001916821c27ea51fc0983e232f8bf6f7...,2019-12-30 00:10:41,0,หอผู้ป่วยกุมารเวชกรรม,ศัลยกรรมทั่วไป,102,Neutrophil,88.7,37.0 - 72.0,%
...,...,...,...,...,...,...,...,...,...,...,...
13607,1845430,15485864aca2d753ef1e4f1db274ea670e9e317d8f9a63...,2020-08-05 06:25:10,0,ห้อง Emergency Room (ER),ศัลยกรรม,135,Urine Color,Yellow,,Test
13609,1845430,15485864aca2d753ef1e4f1db274ea670e9e317d8f9a63...,2020-08-05 06:25:10,0,ห้อง Emergency Room (ER),ศัลยกรรม,142,Urine pH,6.5,5.0 - 8.0,
13610,1845430,15485864aca2d753ef1e4f1db274ea670e9e317d8f9a63...,2020-08-05 06:25:10,0,ห้อง Emergency Room (ER),ศัลยกรรม,195,Urine Sugar,Trace,,
13612,1845430,15485864aca2d753ef1e4f1db274ea670e9e317d8f9a63...,2020-08-05 06:25:10,0,ห้อง Emergency Room (ER),ศัลยกรรม,578,Urine RBC,Negative,,
13616,1845430,15485864aca2d753ef1e4f1db274ea670e9e317d8f9a63...,2020-08-05 06:25:10,0,ห้อง Emergency Room (ER),ศัลยกรรม,932,Urine Albumin,Trace,,

In [21]:
selected_lab_df = selected_lab_df.loc[:, ["rowID", "cid", "labItemsNameRef","labItemsNormalValueRef", "labOrderResult","labItemsUnit"]]

In [22]:
selected_lab_df

,rowID,cid,labItemsNameRef,labItemsNormalValueRef,labOrderResult,labItemsUnit
6,601443,a4d3ae6322bcc001916821c27ea51fc0983e232f8bf6f7...,HCT,34.0 - 50.0,36.4,%
7,601443,a4d3ae6322bcc001916821c27ea51fc0983e232f8bf6f7...,WBC,4.0 - 11.0,20.0,x 10 *3 /ul
8,601443,a4d3ae6322bcc001916821c27ea51fc0983e232f8bf6f7...,RBC,3.60 - 6.20,4.62,x 10 *6 /ul
10,601443,a4d3ae6322bcc001916821c27ea51fc0983e232f8bf6f7...,PLT,140 - 450,479,x 10 *3 /ul
11,601443,a4d3ae6322bcc001916821c27ea51fc0983e232f8bf6f7...,Neutrophil,37.0 - 72.0,88.7,%
...,...,...,...,...,...,...
13607,1845430,15485864aca2d753ef1e4f1db274ea670e9e317d8f9a63...,Urine Color,,Yellow,Test
13609,1845430,15485864aca2d753ef1e4f1db274ea670e9e317d8f9a63...,Urine pH,5.0 - 8.0,6.5,
13610,1845430,15485864aca2d753ef1e4f1db274ea670e9e317d8f9a63...,Urine Sugar,,Trace,
13612,1845430,15485864aca2d753ef1e4f1db274ea670e9e317d8f9a63...,Urine RBC,,Negative,
13616,1845430,15485864aca2d753ef1e4f1db274ea670e9e317d8f9a63...,Urine Albumin,,Trace,

## Unique LabItemsNameRef

In [23]:
unique_labItemsNameRef = selected_lab_df.groupby(['labItemsNameRef','labItemsNormalValueRef','labItemsUnit']).agg(['nunique']).reset_index(drop=False)

In [24]:
unique_labItemsNameRef

,labItemsNameRef,labItemsNormalValueRef,labItemsUnit,rowID,cid,labOrderResult
,,,,nunique,nunique,nunique
0,BUN,6 - 20,mg/dL,9,9,9
1,BUN,6 - 20,mg/dl,1,1,1
2,BUN,6.0-20.0,mg/dL,14,14,12
3,BUN,7 - 17,mg/dl,23,23,22
4,BUN,7 - 18,mg/dL,22,19,12
...,...,...,...,...,...,...
235,WBC,5.00 - 10.00,,21,21,21
236,WBC,5.00 - 10.00,103/uL,13,13,13
237,WBC,5.00-10.00,10,9,9,9
238,WBC,5.00-10.00,103/uL,4,4,4
239,WBC,5000 - 11000,,1,1,1

In [25]:
unique_labItemsNameRef.iloc[:, 0:4]

    labItemsNameRef labItemsNormalValueRef labItemsUnit   rowID
                                                        nunique
0               BUN                 6 - 20        mg/dL       9
1               BUN                 6 - 20        mg/dl       1
2               BUN               6.0-20.0        mg/dL      14
3               BUN                 7 - 17        mg/dl      23
4               BUN                 7 - 18        mg/dL      22
..              ...                    ...          ...     ...
235             WBC           5.00 - 10.00                   21
236             WBC           5.00 - 10.00       103/uL      13
237             WBC             5.00-10.00           10       9
238             WBC             5.00-10.00       103/uL       4
239             WBC           5000 - 11000                    1

[240 rows x 4 columns]

In [26]:
unique_labItemsNameRef

,labItemsNameRef,labItemsNormalValueRef,labItemsUnit,rowID,cid,labOrderResult
,,,,nunique,nunique,nunique
0,BUN,6 - 20,mg/dL,9,9,9
1,BUN,6 - 20,mg/dl,1,1,1
2,BUN,6.0-20.0,mg/dL,14,14,12
3,BUN,7 - 17,mg/dl,23,23,22
4,BUN,7 - 18,mg/dL,22,19,12
...,...,...,...,...,...,...
235,WBC,5.00 - 10.00,,21,21,21
236,WBC,5.00 - 10.00,103/uL,13,13,13
237,WBC,5.00-10.00,10,9,9,9
238,WBC,5.00-10.00,103/uL,4,4,4
239,WBC,5000 - 11000,,1,1,1

### RBC

In [27]:
unique_labItemsNameRef.loc[unique_labItemsNameRef['labItemsNameRef']=='RBC']

,labItemsNameRef,labItemsNormalValueRef,labItemsUnit,rowID,cid,labOrderResult
,,,,nunique,nunique,nunique
129,RBC,,,3,3,1
130,RBC,,+,2,2,2
131,RBC,-,,21,21,2
132,RBC,-,+,3,3,3
133,RBC,0 - 1,,1,1,1
134,RBC,0 - 1,Cells/HPF,5,5,2
135,RBC,0 - 1,cells/HPF,1,1,1
136,RBC,0 - 5,,2,2,2
137,RBC,0-3,,6,6,3
138,RBC,0-3,(Dysmorphic = found),1,1,1
139,RBC,0-3,cells/HPF,3,3,1
140,RBC,0-5,,2,2,1
141,RBC,0-5,Cell/HPF,38,38,5
142,RBC,0-5,cell/HPF,18,18,4
143,RBC,0-5,/HPF Cell/HPF,10,10,4
144,RBC,0-5,cells/HPF,6,6,1
145,RBC,3.50 - 5.00,,24,24,22
146,RBC,3.50 - 5.00,106 cell/cu.mm,21,21,21
147,RBC,3.50 - 5.20,,12,12,12
148,RBC,3.50 - 5.20,106 cell/cu.mm,8,8,8
149,RBC,3.60 - 6.20,106 Cells/mm,13,13,13
150,RBC,3.60 - 6.20,x 10 *6 /ul,9,9,9
151,RBC,3.60-6.20,,4,4,4
152,RBC,3.60-6.20,10,10,10,10
153,RBC,3.60-6.20,106 Cells/mm,4,4,4
154,RBC,3.8 - 6.1,,1,1,1
155,RBC,4.0 - 5.0,10S6/mm3,33,32,17
156,RBC,4.0 - 6.0,10*6/uL,44,42,21
157,RBC,4.00 - 5.50,,22,22,20
158,RBC,4.00 - 5.50,106 cell/cu.mm,22,22,21
159,RBC,4.00 - 6.00,,21,21,21
160,RBC,4.5 - 5.5,10S6/mm3,39,39,20
161,RBC,4.50 - 6.30,,13,13,13
162,RBC,Negative,,59,59,5
163,RBC,Negative,+,3,3,3
164,RBC,Negative -,,2,2,1

### WBC

In [28]:
unique_labItemsNameRef.loc[unique_labItemsNameRef['labItemsNameRef'] == 'WBC']

,labItemsNameRef,labItemsNormalValueRef,labItemsUnit,rowID,cid,labOrderResult
,,,,nunique,nunique,nunique
215,WBC,,%,13,13,1
216,WBC,0 - 1,,2,2,2
217,WBC,0 - 1,Cells/HPF,5,5,2
218,WBC,0 - 5,,2,2,2
219,WBC,0-5,,2,2,1
220,WBC,0-5,Cell/HPF,38,38,9
221,WBC,0-5,cell/HPF,21,21,6
222,WBC,0-5,/HPF Cell/HPF,10,10,6
223,WBC,0-5,cells/HPF,3,3,1
224,WBC,0-8,,10,10,4
225,WBC,10.00-30.00,10,1,1,1
226,WBC,4.0 - 11.0,x 10 *3 /ul,9,9,8
227,WBC,4.0-11.0,,2,2,2
228,WBC,4.00 - 10.00,,46,46,41
229,WBC,4.00 - 10.00,103 cell/cu.mm,51,51,51
230,WBC,4.00 - 12.00,,12,12,12
231,WBC,5 - 10,,2,2,2
232,WBC,"5,000 - 10,000",,13,13,13
233,WBC,"5,000 - 11,000",cu.mm,44,42,43
234,WBC,5.0 - 10.0,10S3/mm3,72,71,56
235,WBC,5.00 - 10.00,,21,21,21
236,WBC,5.00 - 10.00,103/uL,13,13,13
237,WBC,5.00-10.00,10,9,9,9
238,WBC,5.00-10.00,103/uL,4,4,4
239,WBC,5000 - 11000,,1,1,1

### Urine RBC

In [29]:
unique_labItemsNameRef.loc[unique_labItemsNameRef['labItemsNameRef'] == 'Urine RBC']

,labItemsNameRef,labItemsNormalValueRef,labItemsUnit,rowID,cid,labOrderResult
,,,,nunique,nunique,nunique
190,Urine RBC,,,98,97,2
191,Urine RBC,,+,13,13,3
192,Urine RBC,/HPF,,40,40,4
193,Urine RBC,0 - 5,,66,66,6
194,Urine RBC,0 - 5,cells/HPF,69,68,6
195,Urine RBC,0 - 5,Cells/HPF,2,2,1
196,Urine RBC,0.00 - 0.00,+,2,2,2
197,Urine RBC,0.00 - 5.00,,8,8,5
198,Urine RBC,0.00 - 5.00,cells/HPF,1,1,1
199,Urine RBC,Negative,,49,49,1
200,Urine RBC,Negative,+,25,25,3

### HCT

In [30]:
unique_labItemsNameRef.loc[unique_labItemsNameRef['labItemsNameRef'] == 'HCT']

,labItemsNameRef,labItemsNormalValueRef,labItemsUnit,rowID,cid,labOrderResult
,,,,nunique,nunique,nunique
42,HCT,33.00 - 51.00,,21,21,20
43,HCT,34.0 - 50.0,%,22,21,21
44,HCT,34.0-50.0,,4,4,4
45,HCT,34.0-50.0,%,14,14,13
46,HCT,35.00 - 49.00,,12,12,12
47,HCT,36 - 46,%,33,32,12
48,HCT,36.0 - 48.0,%,1,1,1
49,HCT,37 - 47,%,43,43,36
50,HCT,37.0 - 54.0,,13,13,13
51,HCT,37.00 - 47.00,,24,24,22
52,HCT,38.0 - 68.0,%,8,8,8
53,HCT,40 - 50,%,39,39,15
54,HCT,40 - 54,%,22,22,21
55,HCT,40.00 - 54.00,,22,22,20
56,HCT,41 - 51,,1,1,1
57,HCT,41 - 51,%,22,20,19

### MCV

In [31]:
unique_labItemsNameRef.loc[unique_labItemsNameRef['labItemsNameRef'] == 'MCV']

,labItemsNameRef,labItemsNormalValueRef,labItemsUnit,rowID,cid,labOrderResult
,,,,nunique,nunique,nunique
95,MCV,78.0 - 98.0,fl,9,9,9
96,MCV,78.0-98.0,,2,2,2
97,MCV,80 - 100,,2,2,2
98,MCV,80.0 - 100.0,fl,64,64,57
99,MCV,80.0-100.0,fl,14,14,14
100,MCV,80.00 - 100.00,,79,79,66
101,MCV,80.1 - 98.1,,1,1,1
102,MCV,80.1 - 98.1,fl,44,42,42
103,MCV,82.0 - 98.0,,13,13,12
104,MCV,85.0 - 95.0,fl,72,71,67

### MCH

In [32]:
unique_labItemsNameRef.loc[unique_labItemsNameRef['labItemsNameRef'] == 'MCH']

,labItemsNameRef,labItemsNormalValueRef,labItemsUnit,rowID,cid,labOrderResult
,,,,nunique,nunique,nunique
73,MCH,25 - 33,,4,4,3
74,MCH,25.0 - 33.0,pg,13,13,11
75,MCH,25.0-33.0,pg,14,14,13
76,MCH,25.00 - 33.00,,21,21,19
77,MCH,27.0 - 33.0,,13,13,10
78,MCH,27.0 - 34.0,pg,60,60,49
79,MCH,27.00 - 34.00,,58,58,45
80,MCH,27.1 - 31.1,,1,1,1
81,MCH,27.1 - 32.1,pg,44,42,37
82,MCH,28.0 - 32.0,pg,72,71,51

### MCH

In [33]:
unique_labItemsNameRef.loc[unique_labItemsNameRef['labItemsNameRef'] == 'MCH']

,labItemsNameRef,labItemsNormalValueRef,labItemsUnit,rowID,cid,labOrderResult
,,,,nunique,nunique,nunique
73,MCH,25 - 33,,4,4,3
74,MCH,25.0 - 33.0,pg,13,13,11
75,MCH,25.0-33.0,pg,14,14,13
76,MCH,25.00 - 33.00,,21,21,19
77,MCH,27.0 - 33.0,,13,13,10
78,MCH,27.0 - 34.0,pg,60,60,49
79,MCH,27.00 - 34.00,,58,58,45
80,MCH,27.1 - 31.1,,1,1,1
81,MCH,27.1 - 32.1,pg,44,42,37
82,MCH,28.0 - 32.0,pg,72,71,51

### Urine Ketone

In [34]:
unique_labItemsNameRef.loc[unique_labItemsNameRef['labItemsNameRef'] == 'Urine Ketone']

,labItemsNameRef,labItemsNormalValueRef,labItemsUnit,rowID,cid,labOrderResult
,,,,nunique,nunique,nunique
182,Urine Ketone,,,28,28,2
183,Urine Ketone,,+,33,33,3
184,Urine Ketone,,Test,51,51,2
185,Urine Ketone,0.00 - 0.00,,2,2,1
186,Urine Ketone,Negative,,96,96,6
187,Urine Ketone,Negative,+,28,28,3
188,Urine Ketone,Negative -,,18,18,2
189,Urine Ketone,Negative -,+,6,6,3

### MCHC

In [35]:
unique_labItemsNameRef.loc[unique_labItemsNameRef['labItemsNameRef'] == 'MCHC']

,labItemsNameRef,labItemsNormalValueRef,labItemsUnit,rowID,cid,labOrderResult
,,,,nunique,nunique,nunique
83,MCHC,31 - 35,,4,4,4
84,MCHC,31.0 - 35.0,g/dL,13,13,12
85,MCHC,31.0 - 37.0,g/dl,8,8,6
86,MCHC,31.0-35.0,g/dL,14,14,9
87,MCHC,31.00 - 35.00,,21,21,19
88,MCHC,31.00 - 37.00,,12,12,12
89,MCHC,32.0 - 36.0,,13,13,12
90,MCHC,32.0 - 36.0,g/dL,9,9,7
91,MCHC,32.0 - 36.0,g/dl,43,43,25
92,MCHC,32.00 - 36.00,,46,46,26
93,MCHC,32.1 - 35.1,,1,1,1
94,MCHC,32.1 - 35.1,g/dL,44,42,29

### Urine Bilirubin

In [36]:
unique_labItemsNameRef.loc[unique_labItemsNameRef['labItemsNameRef'] == 'Urine Bilirubin']

,labItemsNameRef,labItemsNormalValueRef,labItemsUnit,rowID,cid,labOrderResult
,,,,nunique,nunique,nunique
170,Urine Bilirubin,,,64,63,2
171,Urine Bilirubin,,+,8,8,1
172,Urine Bilirubin,0.00 - 0.00,,2,2,1
173,Urine Bilirubin,Negative,,109,109,4
174,Urine Bilirubin,Negative,+,15,15,2
175,Urine Bilirubin,Negative -,,17,17,1
176,Urine Bilirubin,Negative -,+,7,7,2

### Neutrophil

In [37]:
unique_labItemsNameRef.loc[unique_labItemsNameRef['labItemsNameRef'] == 'Neutrophil']

,labItemsNameRef,labItemsNormalValueRef,labItemsUnit,rowID,cid,labOrderResult
,,,,nunique,nunique,nunique
105,Neutrophil,%,,1,1,1
106,Neutrophil,37.0 - 72.0,%,9,9,9
107,Neutrophil,37.0-72.0,,2,2,2
108,Neutrophil,40 - 70,,13,13,11
109,Neutrophil,40 - 75,,2,2,2
110,Neutrophil,40 - 75,%,13,13,10
111,Neutrophil,40-75,%,14,14,10
112,Neutrophil,45 - 70,%,44,42,24
113,Neutrophil,50 - 70,%,51,51,46
114,Neutrophil,60 - 75,%,72,71,65

### Lymphocytes

In [38]:
unique_labItemsNameRef.loc[unique_labItemsNameRef['labItemsNameRef'] == 'Lymphocytes']

,labItemsNameRef,labItemsNormalValueRef,labItemsUnit,rowID,cid,labOrderResult
,,,,nunique,nunique,nunique
64,Lymphocytes,20 - 40,%,51,51,45
65,Lymphocytes,20 - 45,%,44,42,19
66,Lymphocytes,20 - 50,,2,2,2
67,Lymphocytes,20 - 50,%,13,13,9
68,Lymphocytes,20-50,%,14,14,9
69,Lymphocytes,20.0 - 50.0,%,9,9,9
70,Lymphocytes,20.0-50.0,,2,2,2
71,Lymphocytes,25 - 40,%,72,71,58
72,Lymphocytes,25 - 55,,13,13,11

### Check-up

Negative
- (None) mean 0
- (Not Found) mean 0
- (Not Seen) mean 0
- (Trace) mean 0
- (Negative) mean 0 

Positive
- (Positive +1) mean +1 RBC antibodies in your blood
- (Positive +2) mean +2 RBC antibodies in your blood
- (Positive +3) mean +3 RBC antibodies in your blood

### Change 2 Features

### 1. ตามรอยพี่กาย

#### (labItemsNormalValueRef, labItemsUnit)

In [39]:
selected_lab_df

,rowID,cid,labItemsNameRef,labItemsNormalValueRef,labOrderResult,labItemsUnit
6,601443,a4d3ae6322bcc001916821c27ea51fc0983e232f8bf6f7...,HCT,34.0 - 50.0,36.4,%
7,601443,a4d3ae6322bcc001916821c27ea51fc0983e232f8bf6f7...,WBC,4.0 - 11.0,20.0,x 10 *3 /ul
8,601443,a4d3ae6322bcc001916821c27ea51fc0983e232f8bf6f7...,RBC,3.60 - 6.20,4.62,x 10 *6 /ul
10,601443,a4d3ae6322bcc001916821c27ea51fc0983e232f8bf6f7...,PLT,140 - 450,479,x 10 *3 /ul
11,601443,a4d3ae6322bcc001916821c27ea51fc0983e232f8bf6f7...,Neutrophil,37.0 - 72.0,88.7,%
...,...,...,...,...,...,...
13607,1845430,15485864aca2d753ef1e4f1db274ea670e9e317d8f9a63...,Urine Color,,Yellow,Test
13609,1845430,15485864aca2d753ef1e4f1db274ea670e9e317d8f9a63...,Urine pH,5.0 - 8.0,6.5,
13610,1845430,15485864aca2d753ef1e4f1db274ea670e9e317d8f9a63...,Urine Sugar,,Trace,
13612,1845430,15485864aca2d753ef1e4f1db274ea670e9e317d8f9a63...,Urine RBC,,Negative,
13616,1845430,15485864aca2d753ef1e4f1db274ea670e9e317d8f9a63...,Urine Albumin,,Trace,

In [40]:
selected_lab_df.iloc[:, 2:5]

      labItemsNameRef labItemsNormalValueRef labOrderResult
6                 HCT            34.0 - 50.0           36.4
7                 WBC             4.0 - 11.0           20.0
8                 RBC            3.60 - 6.20           4.62
10                PLT              140 - 450            479
11         Neutrophil            37.0 - 72.0           88.7
...               ...                    ...            ...
13607     Urine Color                                Yellow
13609        Urine pH              5.0 - 8.0            6.5
13610     Urine Sugar                                 Trace
13612       Urine RBC                              Negative
13616   Urine Albumin                                 Trace

[5256 rows x 3 columns]

#### Missing value

In [41]:
selected_lab_df.isna().sum()

rowID                     0
cid                       0
labItemsNameRef           0
labItemsNormalValueRef    0
labOrderResult            0
labItemsUnit              0
dtype: int64

In [42]:
changed_lab_df = xlr.change_labItemUnit_labItemNormalValueRef(selected_lab_df)

In [43]:
changed_lab_df.iloc[:, 2:6]

      labItemsNameRef labItemsNormalValueRef labOrderResult labItemsUnit
6                 HCT                37 - 47           36.4            %
7                 WBC           4.00 - 10.00           20.0
8                 RBC                    0-5           4.62
10                PLT              140 - 400            479
11         Neutrophil                60 - 75           88.7            %
...               ...                    ...            ...          ...
13607     Urine Color                                Yellow
13609        Urine pH              5.0 - 8.0            6.5
13610     Urine Sugar                                 Trace
13612       Urine RBC                  0 - 5       Negative
13616   Urine Albumin                                 Trace

[5256 rows x 4 columns]

In [44]:
changed_lab_df.loc[changed_lab_df['labItemsNameRef'] == 'WBC']

,rowID,cid,labItemsNameRef,labItemsNormalValueRef,labOrderResult,labItemsUnit
7,601443,a4d3ae6322bcc001916821c27ea51fc0983e232f8bf6f7...,WBC,4.00 - 10.00,20.0,
38,601443,a4d3ae6322bcc001916821c27ea51fc0983e232f8bf6f7...,WBC,4.00 - 10.00,0-1,
60,2981059,8af6c5ce961d556794ddc691089f3887fe0b8167eef188...,WBC,4.00 - 10.00,15.13,
87,2981059,8af6c5ce961d556794ddc691089f3887fe0b8167eef188...,WBC,4.00 - 10.00,1-2,
92,888917,4898d581bde0e3216c15662327cd301286670cd12786f6...,WBC,4.00 - 10.00,8.0,
...,...,...,...,...,...,...
13505,2146005,1d60209df9b0437f25613530f9414481912d14c3de4607...,WBC,4.00 - 10.00,0-1,
13519,3873437,bafa3aa41b99714d9a92bf444a1771c3116540cab1d238...,WBC,4.00 - 10.00,7.55,
13554,3873437,bafa3aa41b99714d9a92bf444a1771c3116540cab1d238...,WBC,4.00 - 10.00,0-1,
13558,1466704,0d62ccf972e7c7562ebedc8014f7c76c00cbe9908869be...,WBC,4.00 - 10.00,17.6,
13589,1845430,15485864aca2d753ef1e4f1db274ea670e9e317d8f9a63...,WBC,4.00 - 10.00,11.1,

#### Missing value

In [45]:
changed_lab_df.isna().sum()

rowID                     0
cid                       0
labItemsNameRef           0
labItemsNormalValueRef    0
labOrderResult            0
labItemsUnit              0
dtype: int64

In [46]:
selected_lab_df

,rowID,cid,labItemsNameRef,labItemsNormalValueRef,labOrderResult,labItemsUnit
6,601443,a4d3ae6322bcc001916821c27ea51fc0983e232f8bf6f7...,HCT,37 - 47,36.4,%
7,601443,a4d3ae6322bcc001916821c27ea51fc0983e232f8bf6f7...,WBC,4.00 - 10.00,20.0,
8,601443,a4d3ae6322bcc001916821c27ea51fc0983e232f8bf6f7...,RBC,0-5,4.62,
10,601443,a4d3ae6322bcc001916821c27ea51fc0983e232f8bf6f7...,PLT,140 - 400,479,
11,601443,a4d3ae6322bcc001916821c27ea51fc0983e232f8bf6f7...,Neutrophil,60 - 75,88.7,%
...,...,...,...,...,...,...
13607,1845430,15485864aca2d753ef1e4f1db274ea670e9e317d8f9a63...,Urine Color,,Yellow,
13609,1845430,15485864aca2d753ef1e4f1db274ea670e9e317d8f9a63...,Urine pH,5.0 - 8.0,6.5,
13610,1845430,15485864aca2d753ef1e4f1db274ea670e9e317d8f9a63...,Urine Sugar,,Trace,
13612,1845430,15485864aca2d753ef1e4f1db274ea670e9e317d8f9a63...,Urine RBC,0 - 5,Negative,
13616,1845430,15485864aca2d753ef1e4f1db274ea670e9e317d8f9a63...,Urine Albumin,,Trace,

# Export CSV File

In [47]:
changed_lab_df.to_csv('extractedLabResult.csv', index= False)